@model Kursach.Models.Campaign
@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Create</h1>
    @Html.ValidationSummary()
<form asp-action="Create" asp-controller="Campaign" method="post">

    <div class="registerdiv">
        <div class="form-group col-sm-12">
            <label asp-for="@Model.Name" class="col-lg-3 control-label"></label>
            <br>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label asp-for="@Model.WantedMoney" class="col-lg-3 control-label"></label>
            <br>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.WantedMoney, new { placeholder = "Wanted money", @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label asp-for="@Model.Deskription" class="col-lg-3 control-label"></label>
            <br>
            <div class="col-lg-9">
                @Html.TextAreaFor(m => m.Deskription, new { placeholder = "Deskription", @class = "form-control" })
            </div>
        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-12 btn-submit">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</form>
</div>

