@model IEnumerable<User>
@{ ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container" id="manager">

        <div class="btn-group" role="group" aria-label="Basic example">
            <form>
                <button type="button" class="btn btn-sm btn-danger" onclick='deleteChecked()'>
                    Delete
                </button>
                <button type="button" class="btn btn-sm btn-danger" onclick='blockChecked()'>
                    Block
                </button>
                <button type="button" class="btn btn-sm btn-danger" onclick='unblockChecked()'>
                    Unblock
                </button>
                <button type="button" class="btn btn-sm btn-danger" onclick='addToAdminChecked()'>
                    Add to admin
                </button>
                <button type="button" class="btn btn-sm btn-danger" onclick='removeFromAdminChecked()'>
                    Remove from admin
                </button>
            </form>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="select-all" class="CheckboxClass">
                                <label for="car">Select All</label>
                            </th>

                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Role</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="CheckboxClass" name="chk" value=@user.Id /></td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Status</td>
                                <td>
                                    @foreach (var t in UserManager.GetRolesAsync(user).Result)
                                    {
                                        @t<br />
                                    }
                                </td>
                                <td><a asp-controller="PersonalCabinet" asp-action="Index" asp-route-id=@user.Id>Personal cabinet</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please <a href="/Account/Login">log in</a> or <a href="/Account/Register">register</a></p>

    </div>


}

<script>document.getElementById('select-all').onclick = function () {
        var checkboxes = document.getElementsByName('chk');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }</script>

<script>function deleteChecked() {
        var items = document.getElementsByName('chk');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + ",";
        }

        $.ajax({
            url: '/Admin/Delete',
            data: { "SelectedCheckBox": selectedItems },
            type: "POST",
            success: function (jsReturnArgs) {
                $("#manager").html(jsReturnArgs);
            }
        })
    }</script>

<script>function blockChecked() {
        var items = document.getElementsByName('chk');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + ",";
        }

    window.location.href = '@Url.Action("Block", "Admin")/' + selectedItems;

        @*$.ajax({
            url: '/Admin/Block',
            data: { "SelectedCheckBox": selectedItems },
            type: "POST",
            success: function (jsReturnArgs) {
                $("#container").html(jsReturnArgs);
            }
        })*@
    }

    function unblockChecked() {
        var items = document.getElementsByName('chk');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + ",";
        }



        $.ajax({
            url: '/Admin/Unblock',
            data: { "SelectedCheckBox": selectedItems },
            type: "POST",
            success: function (jsReturnArgs) {
                $("#manager").html(jsReturnArgs);
            }
        })
    }

    function addToAdminChecked() {
        var items = document.getElementsByName('chk');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + ",";
        }

        $.ajax({
            url: '/Admin/AddToAdmin',
            data: { "SelectedCheckBox": selectedItems },
            type: "POST",
            success: function (jsReturnArgs) {
                $("#manager").html(jsReturnArgs);
            }
        })
    }

    function removeFromAdminChecked() {
        var items = document.getElementsByName('chk');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + ",";
        }

        $.ajax({
            url: '/Admin/RemoveFromAdmin',
            data: { "SelectedCheckBox": selectedItems },
            type: "POST",
            success: function (jsReturnArgs) {
                $("#manager").html(jsReturnArgs);
            }
        })
    }</script>



